/* responsive */

@media (max-width:767px) {

    /* component  */
    .title {
        font-size: 50px;
    }

    /* end component */
    header .container {
        flex-direction: column;
    }

    header .container ul {
        margin: auto;
    }

    header .container .logo {
        text-align: center;
    }

    .welcome {
        padding-top: 0;
    }

    .welcome .container p {
        font-size: 30px;
        text-align: center;
        line-height: 1.8;
    }

    .task {
        padding-top: 20px;
    }

    .task .container {
        flex-direction: column;
    }

    .task .form .container input[type='text'] {
        width: 100%;
    }

    .task .form .container input[type='submit'] {
        margin-top: 15px;
        width: 50%;
        padding: 15px 20px;
    }

    /* services */
    .services .container .srv-container .srv {
        width: 95%;
        flex-basis: 95%;
    }

    /* about */
    .about .container .about-content .about-img {
        display: none;
    }

    .about .container .about-content .about-text {
        flex: 1;
    }

    /* contact */

    .contact .container .contact-content p {
        font-size: 20px;
    }

    .contact .container .contact-content a {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .welcome .container p {
        font-size: 40px;
    }

    /* services */
    /*  
    .services .container>h2 {
        font-size: 70px;
    }

    .services .container .srv-container .srv {
        width: calc(95% / 2);
        flex-basis:calc(95% / 2);
    }
     */
    /* about */
    /*
    .about .container h2 {
        font-size: 70px;
    }

    .about .container .about-content .about-img {
        display: none;
    }

    .about .container .about-content .about-text {
        flex: 1;
    }
    */

    /* contact */
    /*
    .contact .container h2 {
        font-size: 70px;
    }

    .contact .container .contact-content p {
        font-size: ;
    }

    .contact .container .contact-content a {
        font-size: ;
    }
    */
}