:root {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --main-clr: rgb(93, 167, 28);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
}

/* components */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.title {
    margin-top: 0;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: var(--main-clr);
}

/* end components */

/* header style */

header {
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0 0 10px var(--bg-clr);
    position: sticky;
    top: 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .container .logo {
    color: var(--main-clr);
    font-size: 26px;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container ul,
header .container .log {
    display: flex;
}


header .container ul a,
header .container .log a {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0 30px;
    font-size: 18px;
}

.welcome {
    padding-top: var(--padding-top);
    /* border: 1px solid red; */
/* height: 100vh; */
}

.welcome .container {
    min-height: 100px;
    color: black;
}

.welcome .container p {
    font-size: 50px;
    text-align: center;
}

.welcome .container p span.todo {
    color: var(--main-clr);
    font-weight: bold;
    cursor: pointer;
}




.task {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    margin: 0 auto;
    min-height: 100px;
}

.task .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task .form .container input[type='text'],
.task .form .container input[type='submit'] {
    border: 2px solid var(--main-clr);
    border-radius: 20px;
    padding: 15px 12px;
}

.task .form .container input[type='text'] {
    flex-basis: 70%;
    font-size: 25px;
    outline: none;
    font-weight: bold;
}

.task .form .container input[type='text']::placeholder {
    color: black;
    font-size: 18px;
}

.task .form .container input[type='submit'] {
    flex-basis: 20%;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

/* services */
.services {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.services .container .srv-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.services .container .srv-container .srv {
    text-align: center;
    background-color: #eee;
    padding: 15px;
    border-radius: 20px;
    width: calc(95% / 3);
    flex-basis: calc(95% / 3);
    min-height: 200px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.services .container .srv-container .srv h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.services .container .srv-container .srv p {
    font-size: 18px;
    text-align: center;
}

/* about */
.about {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.about .container .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about .container .about-content .about-img {
    flex-basis: 45%;
}

.about .container .about-content .about-img img {
    height: 400px;
}

.about .container .about-content .about-text {
    flex-basis: 45%;
}

.about .container .about-content .about-text p {
    padding: 20px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;

}

.about .container .about-content .about-text p:first-of-type {
    color: black;
    margin-bottom: 100px;
}

.about .container .about-content .about-text p:last-of-type {
    color: #2C4755;
    border-top: 3px solid black;
    padding-top: 80px;
}

/* contact */
.contact {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    text-align: center;
}

.contact .container .contact-content p {
    font-size: 30px;
    font-weight: 800;
    color: #2C4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .container .contact-content a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-clr);
    text-decoration: none;
}

.contact .container .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .container .social i {
    margin-left: 10px;
    color: #2C4755;
}

/* footer */
footer {
    background-color: #2C4755;
    color: white;
    padding: 30px 10px;
    font-size: 18px;
    text-align: center;
}

footer span {
    color: var(--main-clr);
    font-weight: bold;
}